version: '3'
services:
  keycloak:
    image: quay.io/keycloak/keycloak:18.0.2
    command: start-dev
    environment:
    - KEYCLOAK_ADMIN=admin
    - KEYCLOAK_ADMIN_PASSWORD=admin
    ports:
      - 8080:8080
  mailhog:
    image: mailhog/mailhog:latest
    ports:
    - 8025:8025
    - 1025:1025