apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: system
  labels:
    app: keycloak
  name: keycloak
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: keycloak
    spec:
      containers:
      - image: quay.io/keycloak/keycloak:18.0.2
        imagePullPolicy: "Never"
        name: keycloak
        args: ["start-dev --https-certificate-file=/certs/ca.crt --https-certificate-key-file=/certs/ca.key"]
        env:
        - name: KEYCLOAK_ADMIN
          value: admin
        - name: KEYCLOAK_ADMIN_PASSWORD
          value: admin
        volumeMounts:
        - mountPath: /certs/
          name: certs
          readOnly: true
        resources: {}
      volumes:
      - configMap:
          defaultMode: 420
          name: certs
        name: certs
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: keycloak
  name: keycloak
  namespace: system
spec:
  ports:
  - name: 8443-8443
    port: 8443
    protocol: TCP
    targetPort: 8443
    nodePort: 30083
  - name: 8080-8080
    port: 8080
    protocol: TCP
    targetPort: 8080
    nodePort: 30080
  selector:
    app: keycloak
  type: NodePort
