---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  name: clustergroupaccesses.telekom.breakglass.de
spec:
  group: telekom.breakglass.de
  names:
    kind: ClusterGroupAccess
    listKind: ClusterGroupAccessList
    plural: clustergroupaccesses
    singular: clustergroupaccess
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ClusterGroupAccess is the Schema for the clusteraccessreviews
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ClusterAccessReviewSpec defines the desired state of ClusterAccessReview.
            properties:
              available_groups:
                items:
                  type: string
                type: array
              cluster:
                type: string
              requests:
                items:
                  properties:
                    approvers:
                      items:
                        type: string
                      type: array
                    for_user:
                      properties:
                        groups:
                          items:
                            type: string
                          type: array
                        username:
                          type: string
                      required:
                      - groups
                      - username
                      type: object
                  required:
                  - for_user
                  type: object
                type: array
              users:
                items:
                  properties:
                    groups:
                      items:
                        type: string
                      type: array
                    username:
                      type: string
                  required:
                  - groups
                  - username
                  type: object
                type: array
            required:
            - cluster
            - requests
            - users
            type: object
          status:
            description: ClusterGroupAccessStatus defines the observed state of ClusterAccessReview.
            type: object
        required:
        - spec
        type: object
    selectableFields:
    - jsonPath: .spec.cluster
    served: true
    storage: true
    subresources:
      status: {}
